/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .conteudo-titulo a p.titulo {
        font-size: 3em;
    }
    .conteudo-titulo p.sub-titulo{
        font-size: 1em;
    }
    .conjunto-imagens-bio h3 {
        font-size: 1em;
    }
    .conteudo-box h3.informacoes-titulo {
        font-size: 2em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .conteudo-titulo a p.titulo {
        font-size: 3em;
    }
    .conteudo-titulo p.sub-titulo{
        font-size: 1em;
    }
    .conjunto-imagens-bio h3 {
        font-size: 1em;
    }
    .conteudo-box h3.informacoes-titulo {
        font-size: 2em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .conteudo-titulo a p.titulo {
        font-size: 3em;
    }
    .titulo-noticia h4 {
        font-size: 1em;
    }
    .titulo-noticia p {
        font-size: 0.8em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .conteudo-titulo a p.titulo {
        font-size: 4em;
    }
    .titulo-noticia h4 {
        font-size: 1.5em;
    }
    .titulo-noticia p {
        font-size: 1em;
    }
}   

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .titulo-noticia h4 {
        font-size: 1.5em;
    }
    .titulo-noticia p {
        font-size: 1em;
    }
}