@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Shanti&family=Spectral+SC&display=swap');

/* FORMATAÇÕES PADRÕES */
body, html {
    height: 100%;
    background: whitesmoke;
}
/* FORMATAÇÕES DE ALGUMAS CONFIGURAÇÕES DO BOOTSTRAP */
.navbar {
    border-bottom: 1px solid #8B795E;
    background: white;
}
.navbar a, a.text-info:focus, a.text-info:hover{
    color: #8B795E!important;
}
/* TIRA O ALINHAMENTO DO GRID DO CONTAINER BOOTSTRAP*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
}
.carousel-control-prev, .carousel-control-next{
    width: 5%;
    color: rgba(0, 0, 0, 0.5);
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    color: rgba(0, 0, 0, 0.7);
}

/* CONFIGURA O BANNER INICIAL*/
#box-apresentacao .container {
   margin-top: 90px;
}
#box-apresentacao .container .bg-titulo {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #e0ddc6;
    width: 100%;
}
#box-apresentacao .container .box-titulo p {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;

    color: #7A7A7A;
    font-family: 'Shanti', sans-serif;
    font-size: 1.2em;
}
#box-apresentacao .container .box-titulo .box-redes-sociais {
    margin-top: 0;
}
#box-apresentacao .container .box-titulo .box-redes-sociais a {
    text-decoration: none;
    color: #CDB38B;
    margin-left: 5px;
    margin-right: 5px;
}
#box-apresentacao .container .box-titulo .box-redes-sociais a:hover {
    color: #8B795E;
}
#box-apresentacao .container .box-titulo h1{
    font-family: 'Spectral SC', serif;
    font-size: 3em;
    letter-spacing: -1px;
}
#box-apresentacao .container img {
    width: 100%;
    height: 100%;
}
.borda-titulo {
    width:  30%;
    height: 3px;
    background: #CDB38B;
    margin: 0 auto;
}

/* CONFIGURAÇÕES DE TELA PARA O PRIMEIRO BANNER

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .navbar a, a.text-info, a.text-info{
        font-size: 0.9em;
    }
    #box-apresetacao .container {
        margin-top: 50px;
    }
    #box-apresetacao .container .box-titulo p {
        font-size: 1em;
    }
    #box-apresetacao .container .box-titulo h1{
        font-size: 2em;
    }
    #box-apresentacao .container {
        margin-top: 40px;
    }
    #box-apresentacao .container .bg-titulo {
        margin-bottom: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #box-apresetacao .container {
        margin-top: 50px;
    }
    #box-apresetacao .container .box-titulo p {
        font-size: 1em;
    }
    #box-apresetacao .container .box-titulo h1{
        font-size: 2em;
    }
    #box-apresentacao .container {
        margin-top: 40px;
    }
    #box-apresentacao .container .bg-titulo {
        margin-bottom: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    #box-apresetacao .container .box-titulo p {
        font-size: 1em;
    }
    #box-apresentacao .container .box-titulo h1{
        font-size: 2em;
    }
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #box-apresetacao .container .box-titulo .box-redes-sociais {
        margin-top: 40%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #box-apresentacao .container .box-titulo .box-redes-sociais {
        margin-top: 40%;
    }
}


/* */
.jumbotron {
    background: #E0DDC6;
    margin-left: 20%;
    margin-right: 5%;
}
.btn-brown {
    background: #AFAA8C;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-brown:hover {
    background: #8B795E;
    color: #000000;
}
#box-sobre-ataleia .jumbotron p {
    color: #8B8B83;
    font-family: sans-serif;
}
#box-sobre-ataleia .jumbotron h2 {
    font-family: 'Spectral SC', serif;
}
#box-sobre-ataleia .jumbotron h2, h3 {
    color: #474747;
}
#box-sobre-ataleia .jumbotron h3 {
    font-size: 1.3em;
    font-family:  sans-serif;
}

#box-sobre-ataleia .img-circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;

    position: absolute;
    left: 15%;
    margin-top: 150px;

    object-position: 0px -30px;
    object-fit: cover;
}
#box-sobre-ataleia .img-block-ataleia {
    width: 100%;
    height: 350px;
}

/* CONFIGURAÇÕES DE TELA PARA O PRIMEIRO BANNER

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .jumbotron {
        background: #E0DDC6;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .jumbotron {
        background: #E0DDC6;
        margin-left: 0;
        margin-right: 0;
        padding-top: 25px;
    }
    #box-sobre-ataleia .img-circular {
        left: 10%;
        margin-top: 150px;
    }
    #box-sobre-ataleia .img-block-ataleia {
        width: 400px;
        height: 400px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .jumbotron {
        background: #E0DDC6;
        padding-left: 200px;
    }
    #box-sobre-ataleia .img-circular {
        left: 10%;
        margin-top: 150px;
    }
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .jumbotron {
        background: #E0DDC6;
        padding-left: 200px;
    }
    #box-sobre-ataleia .img-circular {
        left: 10%;
        margin-top: 150px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron {
        background: #E0DDC6;
        padding-left: 200px;
    }
    
}

/* CSS SOBRE A ABA DOS CONTEÚDOS*/
#notices h2{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #E0DDC6;
}
.card-text {
    text-align: justify;
    
}
.card-img {
    width: 100%;
    height: 200px;
    object-position: 0px -90px;
    object-fit: cover;
}

aside h3{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.3em;
    padding-bottom: 15px;
    border-bottom: 2px solid #CDB38B;
    color: black;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #000000;
}

.page-item.active .page-link {
    background-color: #8B795E;
    border: none;
}

aside .nav-item .nav-link {
    color: black;
    border-bottom: 1px solid #CDB38B;
}

aside .nav-item .nav-link:hover {
    color: #8B795E;
}

footer {
    background: #CDB38B;
    
}